<a href="https://colab.research.google.com/github/DeependraParmar/Python-File/blob/master/Python%20Lab%20File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This is a single-line comment
print("Code by Deependra Parmar")
print()
print("Data Types Example:")
# Integer
integer_var = 42
print("Integer:", integer_var)
# Float
float_var = 3.14
print("Float:", float_var)
# String
string_var = "Hello, World!"
print("String:", string_var)
# Boolean
boolean_var = True
print("Boolean:", boolean_var)
# List
list_var = [1, 2, 3, 4]
print("List:", list_var)
# Tuple
tuple_var = (5, 6, 7, 8)
print("Tuple:", tuple_var)
# Dictionary
dict_var = {'name': 'John', 'age': 25}
print("Dictionary:", dict_var)
"""
This is a multiline comment.
You can use triple-quotes for multiline comments.
"""
# Set
set_var = {1, 2, 3, 4, 5}
print("Set:", set_var)

Code by Deependra Parmar

Data Types Example:
Integer: 42
Float: 3.14
String: Hello, World!
Boolean: True
List: [1, 2, 3, 4]
Tuple: (5, 6, 7, 8)
Dictionary: {'name': 'John', 'age': 25}
Set: {1, 2, 3, 4, 5}

In [ ]:
print("Code by Deependra Parmar")
print()
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3
print("The largest number is:", largest)

Code by Deependra Parmar

Enter the first number: 10
Enter the second number: 20
Enter the third number: 30
The largest number is: 30.0

In [ ]:
print("Code by Deependra Parmar")
print()
num = int(input("Enter the number: "))
i=1
while i <= 10:
    print(f"{num} * {i} = {num*i}")
    i = i+1

Code by Deependra Parmar

Enter the number: 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
print("Code by Deependra Parmar")
print()
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
print("Prime numbers between 1 and 100:")
for number in range(1, 101):
    if is_prime(number):
        print(number, end=" ")

Code by Deependra Parmar

Prime numbers between 1 and 100:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
print("Code by Deependra Parmar")
print()
string1 = "Hello, "
string2 = "World!"
result = string1 + string2
print("Concatenated String:", result)

Code by Deependra Parmar

Concatenated String: Hello, World!

In [ ]:
print("Code by Deependra Parmar")
print()
original_string = "Hello, World!"
reversed_string = original_string[::-1]
print("Original String:", original_string)
print("Reversed String:", reversed_string)

Code by Deependra Parmar

Original String: Hello, World!
Reversed String: !dlroW ,olleH

In [ ]:
print("Code by Deependra Parmar")
print()

input_string = "Python Programming"
print("Original String:", input_string)

length_of_string = len(input_string)
print("Length of the String:", length_of_string)

uppercase_string = input_string.upper()
print("Uppercase String:", uppercase_string)

lowercase_string = input_string.lower()
print("Lowercase String:", lowercase_string)

count_e = input_string.count('e')
print("Occurrences of 'e':", count_e)

index_of_program = input_string.find("Program")
print("Index of 'Program':", index_of_program)

replaced_string = input_string.replace("Python", "Java")
print("String after replacement:", replaced_string)

split_string = input_string.split(" ")
print("String after spliting:", split_string)

capitalize_string = input_string.capitalize()
print("String after capitalizing:", capitalize_string)

Code by Deependra Parmar

Original String: Python Programming
Length of the String: 18
Uppercase String: PYTHON PROGRAMMING
Lowercase String: python programming
Occurrences of 'e': 0
Index of 'Program': 7
String after replacement: Java Programming
String after spliting: ['Python', 'Programming']
String after capitalizing: Python programming

In [ ]:
print("Code by Deependra Parmar")
input_string = "Hello, World!"

print("Traversing characters of the string:")
for char in input_string:
    print(char, end=" ")

Code by Deependra Parmar
Traversing characters of the string:
H e l l o ,   W o r l d !

In [ ]:
print("Code by Deependra Parmar")
print()
words = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape", "honeydew"]

print("Abecedarian Series:")
for word in words:
    print(word)

Code by Deependra Parmar

Abecedarian Series:
apple
banana
cherry
date
elderberry
fig
grape
honeydew

In [ ]:
print("Code by Deependra Parmar")
print()
def is_substring_present(main_string, substring_to_check):
    return substring_to_check in main_string

main_string = input("Enter the main string: ")
substring_to_check = input("Enter the substring to check: ")

if is_substring_present(main_string, substring_to_check):
    print(f"'{substring_to_check}' is present in the string.")
else:
    print(f"'{substring_to_check}' is not present in the string.")

Code by Deependra Parmar

Enter the main string: Deependra Parmar
Enter the substring to check: mar
'mar' is present in the string.

In [ ]:
print("Code by Deependra Parmar")
print()
def left_side_pattern(chars):
    for i in range(1, len(chars) + 1):
        print(chars[:i])
left_side_pattern("ABCD")

Code by Deependra Parmar

A
AB
ABC
ABCD

In [ ]:
print("Code by Deependra Parmar")
print()
mixed_list = [1, 'two', 3.0, True, [4, 5]]
print("Mixed List:", mixed_list)

first_element = mixed_list[0]
second_element = mixed_list[1]
third_element = mixed_list[2]
fourth_element = mixed_list[3]
fifth_element = mixed_list[4]

print("First Element:", first_element)
print("Second Element:", second_element)
print("Third Element:", third_element)
print("Fourth Element:", fourth_element)
print("Fifth Element:", fifth_element)

Code by Deependra Parmar

Mixed List: [1, 'two', 3.0, True, [4, 5]]
First Element: 1
Second Element: two
Third Element: 3.0
Fourth Element: True
Fifth Element: [4, 5]

In [ ]:
print("Code by Deependra Parmar")
print()
max_inputs = 5
user_list = []
for _ in range(max_inputs):
    user_input = input("Enter an element (or type 'done' to finish): ")
    if user_input.lower() == 'done':
        break
    if eval(f'isinstance({user_input}, (int, float, str, list, tuple, dict))'):
        user_list.append(eval(user_input))
    else:
        print("Error: Please enter a valid input (int, float, str, list, tuple, dict).")
print("User Input List:", user_list)

Code by Deependra Parmar

Enter an element (or type 'done' to finish): [1,2,3,4,5,6]
Enter an element (or type 'done' to finish): [1,2,3,4,5,6]
Enter an element (or type 'done' to finish): done
User Input List: [[1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5, 6]]

In [ ]:
print("Code by Deependra Parmar")
print()
my_list = [1, 2, 3]
print("Existing list:", my_list)
for _ in range(5):
    element = input("Enter an element to append to the list: ")
    my_list.append(element)
print("Final List:", my_list)

Code by Deependra Parmar

Existing list: [1, 2, 3]
Enter an element to append to the list: [4,5,6]
Enter an element to append to the list: 4.5.6
Enter an element to append to the list: hello
Enter an element to append to the list: one
Enter an element to append to the list: 20930
Final List: [1, 2, 3, '[4,5,6]', '4.5.6', 'hello', 'one', '20930']

In [ ]:
print("Code by Deependra Parmar")
print()
my_list = [5, 2, 8, 1, 3]
print("List is:", my_list)
my_list.sort()
print("Ascending Order:", my_list)
descending_order = sorted(my_list, reverse=True)
print("Descending Order:", descending_order)

Code by Deependra Parmar

List is: [5, 2, 8, 1, 3]
Ascending Order: [1, 2, 3, 5, 8]
Descending Order: [8, 5, 3, 2, 1]

In [ ]:
print("Code by Deependra Parmar")
print()
my_list = [1, 2, 3, 2, 4, 2, 5]
print("List is:", my_list)
element_to_count = 2
occurrences = my_list.count(element_to_count)
print(f"The element {element_to_count} occurs {occurrences} times in the list.")

Code by Deependra Parmar

List is: [1, 2, 3, 2, 4, 2, 5]
The element 2 occurs 3 times in the list.

In [ ]:
print("Code by Deependra Parmar")
print()
my_list = [10, 20, 30, 40, 50]
print("List is:", my_list)
element_to_find = 30
if element_to_find in my_list:
    # Using the index() method to find the index of the element
    index = my_list.index(element_to_find)
    print(f"The index of {element_to_find} in the list is {index}.")
else:
    print(f"{element_to_find} is not present in the list.")

Code by Deependra Parmar

List is: [10, 20, 30, 40, 50]
The index of 30 in the list is 2.

In [ ]:
print("Code by Deependra Parmar")
print()
my_list = [1, 2, 3, 4, 5]
print("List is:", my_list)
if len(my_list) >= 2:
    my_list[0], my_list[-1] = my_list[-1], my_list[0]
print("List after swapping the first and last elements:", my_list)

Code by Deependra Parmar

List is: [1, 2, 3, 4, 5]
List after swapping the first and last elements: [5, 2, 3, 4, 1]

In [ ]:
print("Code by Deependra Parmar")
print()
def swap_elements(my_list, position1, position2):
    if 0 <= position1 < len(my_list) and 0 <= position2 < len(my_list):
        my_list[position1], my_list[position2] = my_list[position2], my_list[position1]
        print(f"List after swapping positions {position1} and {position2}:", my_list)
    else:
        print("Invalid positions.")
user_list = input("Enter elements of the list separated by spaces: ").split()
print("List is:", user_list)

user_list = [int(element) for element in user_list]
position_to_swap1 = int(input("Enter the first position to swap: "))
position_to_swap2 = int(input("Enter the second position to swap: "))
swap_elements(user_list, position_to_swap1, position_to_swap2)

Code by Deependra Parmar

Enter elements of the list separated by spaces: 10 20 30 40 50 60
List is: ['10', '20', '30', '40', '50', '60']
Enter the first position to swap: 2
Enter the second position to swap: 4
List after swapping positions 2 and 4: [10, 20, 50, 40, 30, 60]

In [ ]:
print("Code by Deependra Parmar")
print()
def check_and_separate(my_list, number):
    if number in my_list:
        print(f"{number} is present in the list.")
        number_type = "even" if number % 2 == 0 else "odd"
        print(f"{number} is {number_type}.")
        even_numbers = [num for num in my_list if num % 2 == 0]
        odd_numbers = [num for num in my_list if num % 2 != 0]
        print("Even numbers in the list:", even_numbers)
        print("Odd numbers in the list:", odd_numbers)
    else:
        print(f"{number} is not present in the list.")
user_list = input("Enter elements of the list separated by spaces: ").split()
user_list = [int(element) for element in user_list]
number_to_check = int(input("Enter a number to check in the list: "))
check_and_separate(user_list, number_to_check)

Code by Deependra Parmar

Enter elements of the list separated by spaces: 10 20 30 40 50 60
Enter a number to check in the list: 20
20 is present in the list.
20 is even.
Even numbers in the list: [10, 20, 30, 40, 50, 60]
Odd numbers in the list: []

In [ ]:
print("Code by Deependra Parmar")
print()
def demonstrate_remove_and_pop(my_list):
    print("Original List:", my_list)
    element_to_remove = int(input("Enter an element to remove using remove(): "))
    if element_to_remove in my_list:
        my_list.remove(element_to_remove)
        print(f"List after removing {element_to_remove} using remove(): {my_list}")
    else:
        print(f"{element_to_remove} is not present in the list.")
    index_to_pop = int(input("Enter an index to pop using pop(): "))
    if 0 <= index_to_pop < len(my_list):
        popped_element = my_list.pop(index_to_pop)
        print(f"List after popping element at index {index_to_pop} using pop(): {my_list}")
        print(f"Popped element: {popped_element}")
    else:
        print(f"Index {index_to_pop} is out of range. Cannot pop from the list.")
user_list = input("Enter elements of the list separated by spaces: ").split()
user_list = [int(element) for element in user_list]
demonstrate_remove_and_pop(user_list)

Code by Deependra Parmar

Enter elements of the list separated by spaces: 10 20 30 40 50 60
Original List: [10, 20, 30, 40, 50, 60]
Enter an element to remove using remove(): 30
List after removing 30 using remove(): [10, 20, 40, 50, 60]
Enter an index to pop using pop(): 3
List after popping element at index 3 using pop(): [10, 20, 40, 60]
Popped element: 50

In [ ]:
print("Code by Deependra Parmar")
print()

def insert_element_at_position(my_list, element, position):
    if 0 <= position <= len(my_list):
        my_list.insert(position, element)
        print(f"List after inserting {element} at position {position}: {my_list}")
    else:
        print(f"Invalid position. Please enter a position between 0 and {len(my_list)}.")

user_list = input("Enter elements of the list separated by spaces: ").split()
user_list = [int(element) for element in user_list]
element_to_insert = int(input("Enter an element to insert: "))
position_to_insert = int(input(f"Enter a position to insert {element_to_insert} at: "))
insert_element_at_position(user_list, element_to_insert, position_to_insert)

Code by Deependra Parmar

Enter elements of the list separated by spaces: 10 20 30 40 50 60
Enter an element to insert: 20
Enter a position to insert 20 at: 3
List after inserting 20 at position 3: [10, 20, 30, 20, 40, 50, 60]

In [ ]:
_______________________________________________________________________________________________________________________

In [ ]:
print("Code by Deependra Parmar")
def count_occurrences(tup, item):
    return tup.count(item)

my_tuple = (10, 20, 30, 50, 50, 40, 50)
item_to_count = 50
result = count_occurrences(my_tuple, item_to_count)
print(f"Number of occurrences of {item_to_count} in tuple: {result}")

Code by Deependra Parmar
Number of occurrences of 50 in tuple: 3

In [ ]:
print("Code by Deependra Parmar")
def check_same_items(tup):
    return all(x == tup[0] for x in tup)

test_tuple1 = (10, 10, 10, 10)
test_tuple2 = (10, 20, 30, 40)
print(f"All items in test_tuple1 are same: {check_same_items(test_tuple1)}")
print(f"All items in test_tuple2 are same: {check_same_items(test_tuple2)}")

Code by Deependra Parmar
All items in test_tuple1 are same: True
All items in test_tuple2 are same: False

In [ ]:
print("Code by Deependra Parmar")
# Answer:
mixed_tuple = (10, 3.14, [1, 2, 3], ('a', 'b', 'c'))
print("Element present in the list of mixed_tuple:", mixed_tuple[2])

Code by Deependra Parmar
Element present in the list of mixed_tuple: [1, 2, 3]

In [ ]:
print("Code by Deependra Parmar")
# Answer:
cities_tuple = ("Mumbai", "Delhi", "Kolkata", "Chennai", "Bangalore", "Hyderabad", "Pune", "Ahmedabad", "Jaipur", "Surat")
city_to_check = "Pune"
if city_to_check in cities_tuple:
    print(f"{city_to_check} is present in the tuple.")
else:
    print(f"{city_to_check} is not present in the tuple.")

Code by Deependra Parmar
Pune is present in the tuple.

In [ ]:
print("Code by Deependra Parmar")
# Answer:
def count_word_occurrences_in_tuple(word, tup):
    return tup.count(word)

my_tuple = ("apple", "banana", "cherry", "apple", "orange", "apple")
word_to_count = "apple"
result = count_word_occurrences_in_tuple(word_to_count, my_tuple)
print(f"Number of occurrences of '{word_to_count}' in tuple: {result}")

Code by Deependra Parmar
Number of occurrences of 'apple' in tuple: 3

In [ ]:
print("Code by Deependra Parmar")
# Answer:
def find_word_index_in_tuple(word, tup):
    return tup.index(word)

my_tuple = ("apple", "banana", "cherry", "orange")
word_to_find = "cherry"
index = find_word_index_in_tuple(word_to_find, my_tuple)
print(f"Index of '{word_to_find}' in tuple: {index}")

Code by Deependra Parmar
Index of 'cherry' in tuple: 2

In [ ]:
print("Code by Deependra Parmar")
# Answer:
roll_numbers = (101, 102, 103, 104)
names = ("Rahul", "Sonia", "Amit", "Priya")
cgpa_scores = (8.5, 9.0, 7.8, 8.2)
sgpa_scores = (8.0, 8.5, 7.2, 7.8)

for i in range(len(roll_numbers)):
    print(f"Roll No: {roll_numbers[i]}, Name: {names[i]}, CGPA: {cgpa_scores[i]}, SGPA: {sgpa_scores[i]}")

Code by Deependra Parmar
Roll No: 101, Name: Rahul, CGPA: 8.5, SGPA: 8.0
Roll No: 102, Name: Sonia, CGPA: 9.0, SGPA: 8.5
Roll No: 103, Name: Amit, CGPA: 7.8, SGPA: 7.2
Roll No: 104, Name: Priya, CGPA: 8.2, SGPA: 7.8

In [ ]:
print("Code by Deependra Parmar")
# Answer:
my_set = {1, 2, 3, 4, 5}
print("Created set:", my_set)

Code by Deependra Parmar
Created set: {1, 2, 3, 4, 5}

In [ ]:
print("Code by Deependra Parmar")
# Answer:
my_set = {10, 20, 30, 40, 50}
print("Iterating over set:")
for item in my_set:
    print(item, end=" ")

Code by Deependra Parmar
Iterating over set:
50 20 40 10 30

In [ ]:
print("Code by Deependra Parmar")

my_set = {1, 2, 3, 4}
print("Set before adding:", my_set)

my_set.add(5)
print("Set after adding 5:", my_set)

my_set.update([6, 7, 8])
print("Set after updating with [6, 7, 8]:", my_set)

Code by Deependra Parmar
Set before adding: {1, 2, 3, 4}
Set after adding 5: {1, 2, 3, 4, 5}
Set after updating with [6, 7, 8]: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
print("Code by Deependra Parmar")

my_set = {10, 20, 30, 40, 50}
print("Set before removal:", my_set)

my_set.remove(30)
print("Set after removing 30:", my_set)

my_set.discard(40)
print("Set after discarding 40:", my_set)

my_set.pop()
print("Set after popping an arbitrary element:", my_set)

Code by Deependra Parmar
Set before removal: {50, 20, 40, 10, 30}
Set after removing 30: {50, 20, 40, 10}
Set after discarding 40: {50, 20, 10}
Set after popping an arbitrary element: {20, 10}

In [ ]:
print("Code by Deependra Parmar")

my_set = {10, 20, 30, 40, 50}
print("Set before operation:", my_set)

item_to_remove = 30
if item_to_remove in my_set:
    my_set.remove(item_to_remove)

print("Set after removing item if present:", my_set)

Code by Deependra Parmar
Set before operation: {50, 20, 40, 10, 30}
Set after removing item if present: {50, 20, 40, 10}

In [ ]:
print("Code by Deependra Parmar")

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection_set = set1 & set2
print("Intersection of set1 and set2:", intersection_set)

Code by Deependra Parmar
Intersection of set1 and set2: {3, 4, 5}

In [ ]:
print("Code by Deependra Parmar")

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union_set = set1 | set2
print("Union of set1 and set2:", union_set)

Code by Deependra Parmar
Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7}

In [ ]:
print("Code by Deependra Parmar")

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set1 - set2
print("Set difference (set1 - set2):", difference_set)

Code by Deependra Parmar
Set difference (set1 - set2): {1, 2}

In [ ]:
print("Code by Deependra Parmar")

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

symmetric_difference_set = set1 ^ set2
print("Symmetric difference of set1 and set2:", symmetric_difference_set)

Code by Deependra Parmar
Symmetric difference of set1 and set2: {1, 2, 6, 7}

In [ ]:
print("Code by Deependra Parmar")

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

print("Is set1 a subset of set2?", set1.issubset(set2))

Code by Deependra Parmar
Is set1 a subset of set2? True

In [ ]:
print("Code by Deependra Parmar")

my_set = {10, 20, 30, 40, 50}
print("Set before clearing:", my_set)

my_set.clear()
print("Set after clearing:", my_set)

Code by Deependra Parmar
Set before clearing: {50, 20, 40, 10, 30}
Set after clearing: set()

In [ ]:
print("Code by Deependra Parmar")

my_set = {10, 20, 30, 40, 50}
print("Maximum value in set:", max(my_set))
print("Minimum value in set:", min(my_set))

Code by Deependra Parmar
Maximum value in set: 50
Minimum value in set: 10

In [ ]:
print("Code by Deependra Parmar")

my_set = {10, 20, 30, 40, 50}
print("Length of the set:", len(my_set))

Code by Deependra Parmar
Length of the set: 5

In [ ]:
print("Code by Deependra Parmar")

my_set = {10, 20, 30, 40, 50}
value_to_check = 30

if value_to_check in my_set:
    print(f"{value_to_check} is present in the set.")
else:
    print(f"{value_to_check} is not present in the set.")

Code by Deependra Parmar
30 is present in the set.

In [ ]:
print("Code by Deependra Parmar")

set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("Sets have no common elements.")
else:
    print("Sets have common elements.")

Code by Deependra Parmar
Sets have no common elements.

In [ ]:
print("Code by Deependra Parmar")

student_info = {
    101: {"name": "Rahul", "CGPA": 8.5, "SGPA": 8.0},
    102: {"name": "Sonia", "CGPA": 9.0, "SGPA": 8.5},
    103: {"name": "Amit", "CGPA": 7.8, "SGPA": 7.2}
}

roll_number = 102
print("Student information for Roll No", roll_number, ":", student_info.get(roll_number))

Code by Deependra Parmar
Student information for Roll No 102 : {'name': 'Sonia', 'CGPA': 9.0, 'SGPA': 8.5}

In [ ]:
print("Code by Deependra Parmar")

student_info = {
    101: {"name": "Rahul", "CGPA": 8.5, "SGPA": 8.0},
    102: {"name": "Sonia", "CGPA": 9.0, "SGPA": 8.5},
    103: {"name": "Amit", "CGPA": 7.8, "SGPA": 7.2}
}

roll_number_to_delete = 103
if roll_number_to_delete in student_info:
    del student_info[roll_number_to_delete]
    print(f"Deleted student with Roll No {roll_number_to_delete} from the dictionary.")
else:
    print(f"Roll No {roll_number_to_delete} not found in the dictionary.")

Code by Deependra Parmar
Deleted student with Roll No 103 from the dictionary.

In [ ]:
print("Code by Deependra Parmar")

student_info = {
    101: {"name": "Rahul", "CGPA": 8.5, "SGPA": 8.0},
    102: {"name": "Sonia", "CGPA": 9.0, "SGPA": 8.5},
    103: {"name": "Amit", "CGPA": 7.8, "SGPA": 7.2}
}

# Adding new student or updating existing student info
roll_number = 104
student_info[roll_number] = {"name": "Priya", "CGPA": 8.2, "SGPA": 7.8}
print("Updated student information:")
print(student_info)

Code by Deependra Parmar
Updated student information:
{101: {'name': 'Rahul', 'CGPA': 8.5, 'SGPA': 8.0}, 102: {'name': 'Sonia', 'CGPA': 9.0, 'SGPA': 8.5}, 103: {'name': 'Amit', 'CGPA': 7.8, 'SGPA': 7.2}, 104: {'name': 'Priya', 'CGPA': 8.2, 'SGPA': 7.8}}

In [ ]:
print("Code by Deependra Parmar")

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}

concatenated_dict = {**dic1, **dic2}
print("Concatenated Dictionary:", concatenated_dict)

Code by Deependra Parmar
Concatenated Dictionary: {1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
print("Code by Deependra Parmar")

student_info = {
    101: {"name": "Rahul", "CGPA": 8.5, "SGPA": 8.0},
    102: {"name": "Sonia", "CGPA": 9.0, "SGPA": 8.5},
    103: {"name": "Amit", "CGPA": 7.8, "SGPA": 7.2}
}

roll_number_to_check = 102
if roll_number_to_check in student_info:
    print(f"Roll No {roll_number_to_check} exists in the dictionary.")
else:
    print(f"Roll No {roll_number_to_check} does not exist in the dictionary.")

Code by Deependra Parmar
Roll No 102 exists in the dictionary.

In [ ]:
print("Code by Deependra Parmar")

student_info = {
    101: {"name": "Rahul", "CGPA": 8.5, "SGPA": 8.0},
    102: {"name": "Sonia", "CGPA": 9.0, "SGPA": 8.5},
    103: {"name": "Amit", "CGPA": 7.8, "SGPA": 7.2}
}

print("Iterating over dictionary:")
for roll_number, info in student_info.items():
    print(f"Roll No: {roll_number}, Name: {info['name']}, CGPA: {info['CGPA']}, SGPA: {info['SGPA']}")

Code by Deependra Parmar
Iterating over dictionary:
Roll No: 101, Name: Rahul, CGPA: 8.5, SGPA: 8.0
Roll No: 102, Name: Sonia, CGPA: 9.0, SGPA: 8.5
Roll No: 103, Name: Amit, CGPA: 7.8, SGPA: 7.2

In [ ]:
print("Code by Deependra Parmar")

n = 5
square_dict = {x: x*x for x in range(1, n+1)}
print("Dictionary with number and its square:")
print(square_dict)

Code by Deependra Parmar
Dictionary with number and its square:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
print("Code by Deependra Parmar")

def sum_of_variables(a, b):
    return a + b

result = sum_of_variables(10, 20)
print("Sum of variables:", result)

Code by Deependra Parmar
Sum of variables: 30

In [ ]:
print("Code by Deependra Parmar")

def greet(name, greeting="Hello"):
    return f"{greeting}, {name}!"

print(greet("Alice"))
print(greet("Bob", "Hi"))

Code by Deependra Parmar
Hello, Alice!
Hi, Bob!

In [ ]:
print("Code by Deependra Parmar")

def max_of_three(a, b, c):
    return max(a, b, c)

result = max_of_three(10, 20, 30)
print("Maximum of three numbers:", result)

Code by Deependra Parmar
Maximum of three numbers: 30

In [ ]:
print("Code by Deependra Parmar")

def multiply(*args):
    result = 1
    for num in args:
        result *= num
    return result

result = multiply(2, 3, 4)
print("Multiplication result:", result)

Code by Deependra Parmar
Multiplication result: 24

In [ ]:
print("Code by Deependra Parmar")

def reverse_string(s):
    return s[::-1]

result = reverse_string("hello")
print("Reversed string:", result)

Code by Deependra Parmar
Reversed string: olleh

In [ ]:
print("Code by Deependra Parmar")

def greet(name):
    """This function greets the person with the given name."""
    return f"Hello, {name}!"

print("Function Docstring:", greet.__doc__)

Code by Deependra Parmar
Function Docstring: This function greets the person with the given name.

In [ ]:
print("Code by Deependra Parmar")

global_variable = "I am a global variable"

def demo_scope():
    local_variable = "I am a local variable"
    print("Inside function - Local Variable:", local_variable)
    print("Inside function - Global Variable:", global_variable)

demo_scope()
print("Outside function - Global Variable:", global_variable)

Code by Deependra Parmar
Inside function - Local Variable: I am a local variable
Inside function - Global Variable: I am a global variable
Outside function - Global Variable: I am a global variable

In [ ]:
print("Code by Deependra Parmar")

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

result = factorial(5)
print("Factorial of 5:", result)

Code by Deependra Parmar
Factorial of 5: 120

In [ ]:
print("Code by Deependra Parmar")

def check_range(num, start, end):
    return start <= num <= end

result = check_range(10, 5, 15)
print("Is 10 within the range [5, 15]?", result)

Code by Deependra Parmar
Is 10 within the range [5, 15]? True

In [ ]:
print("Code by Deependra Parmar")

def count_upper_lower_case(s):
    upper_count = sum(1 for char in s if char.isupper())
    lower_count = sum(1 for char in s if char.islower())
    return upper_count, lower_count

upper_count, lower_count = count_upper_lower_case("Hello World")
print("Number of uppercase letters:", upper_count)
print("Number of lowercase letters:", lower_count)

Code by Deependra Parmar
Number of uppercase letters: 2
Number of lowercase letters: 8

In [ ]:
print("Code by Deependra Parmar")

def get_unique_elements(input_list):
    return list(set(input_list))

# Example usage:
input_list = [1, 2, 3, 3, 4, 5]
result = get_unique_elements(input_list)
print("Unique elements from the list:", result)

Code by Deependra Parmar
Unique elements from the list: [1, 2, 3, 4, 5]

In [ ]:
print("Code by Deependra Parmar")

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Example usage:
number_to_check = 17
result = is_prime(number_to_check)
print(f"{number_to_check} is prime:", result)

Code by Deependra Parmar
17 is prime: True

In [ ]:
print("Code by Deependra Parmar")

def outer_function():
    def inner_function():
        return "Inside inner function"
    return inner_function()

# Accessing inner function
result = outer_function()
print(result)

Code by Deependra Parmar
Inside inner function

In [ ]:
print("Code by Deependra Parmar")

def is_palindrome(s):
    return s == s[::-1]

# Example usage:
input_string = "radar"
result = is_palindrome(input_string)
print(f"'{input_string}' is palindrome:", result)

Code by Deependra Parmar
'radar' is palindrome: True

In [ ]:
print("Code by Deependra Parmar")

def generate_square_list():
    return [x*x for x in range(1, 31)]

# Example usage:
result_list = generate_square_list()
print("List of squares of numbers from 1 to 30:")
print(result_list)

Code by Deependra Parmar
List of squares of numbers from 1 to 30:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [ ]:
print("Code by Deependra Parmar")

def print_even_numbers(input_list):
    even_numbers = [num for num in input_list if num % 2 == 0]
    print("Even numbers from the list:")
    for num in even_numbers:
        print(num, end=" ")

# Example usage:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print_even_numbers(input_list)

Code by Deependra Parmar
Even numbers from the list:
2 4 6 8 10

In [ ]:
print("Code by Deependra Parmar")

class Student:
    def __init__(self, name, roll_no, semester):
        self.name = name
        self.roll_no = roll_no
        self.semester = semester

    def display_info(self):
        print("Student Name:", self.name)
        print("Roll No.:", self.roll_no)
        print("Semester:", self.semester)

# Creating an object and displaying student information
student1 = Student("Deependra", 56, 6)
student1.display_info()

Code by Deependra Parmar
Student Name: Deependra
Roll No.: 56
Semester: 6

In [ ]:
print("Code by Deependra Parmar")

class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def display_info(self):
        print(f"Car: {self.year} {self.make} {self.model}")

# Creating an object and displaying car information
my_car = Car("Toyota", "Camry", 2022)
my_car.display_info()

Code by Deependra Parmar
Car: 2022 Toyota Camry

In [ ]:
print("Code by Deependra Parmar")

# (a) Single Level Inheritance
class Animal:
    def __init__(self, species):
        self.species = species

class Dog(Animal):
    def __init__(self, name, species):
        super().__init__(species)
        self.name = name

# (b) Multiple Inheritance
class A:
    def methodA(self):
        print("Method A")

class B:
    def methodB(self):
        print("Method B")

class C(A, B):
    def methodC(self):
        print("Method C")

# (c) Multilevel Inheritance
class X:
    def methodX(self):
        print("Method X")

class Y(X):
    def methodY(self):
        print("Method Y")

class Z(Y):
    def methodZ(self):
        print("Method Z")

# (d) Hybrid Inheritance (combination of multiple types)
# Example is a bit complex, involves multiple base classes

# (e) Hierarchical Inheritance
class Parent:
    def parent_method(self):
        print("Parent Method")

class Child1(Parent):
    def child1_method(self):
        print("Child1 Method")

class Child2(Parent):
    def child2_method(self):
        print("Child2 Method")

Code by Deependra Parmar

In [ ]:
print("Code by Deependra Parmar")

class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def speak(self):
        print("Dog barks")

# Example usage demonstrating method overriding
my_dog = Dog()
my_dog.speak()  # This will invoke the overridden method in Dog class

Code by Deependra Parmar
Dog barks